@use '../util' as *;

.container {
	padding: 0 rem(22);
	max-width: rem(1076);
	margin: 0 auto;

	@include breakpoint(medium) {
    padding: 0 rem(90);
  }

	@include breakpoint-down(small) {
    padding: 0 rem(90);
  }

	@include breakpoint-down(x-small) {
		padding: 0 rem(22);
	}

}
