@use '../util' as *;

.abrigo {
  background: var(--light-grey);
  padding: rem(60) rem(22);

  .flex {
    display: flex;

    @include breakpoint-down(small) {
      flex-direction: column;
    }

    @include breakpoint(large){
      padding-left: rem(90);
      padding-right: rem(90);
    }
  }

  &__info {
    padding: rem(30) rem(10);
    flex: 1 1 30%;

    h4 {
      font-size: rem(20);
      letter-spacing: rem(10);
      text-transform: uppercase;
      margin-bottom: rem(20);
    }

    h3 {
      font-size: rem(36);
      margin-bottom: rem(20);
    }
  }

  &__foto--dupla {
    flex: 1 1 40%;
  }

  &__foto--urso {
    padding-top: rem(60);
    flex: 1 1 30%;
    display: flex;
    background: var(--black);

    img {
      align-self: flex-end;
    }
  }

  @include breakpoint(large) {
    flex-direction: row;
  }
}