@use '../util' as *;

.header {
  background: url(../../../img/header-dog.jpeg) no-repeat center;
  background-size: cover;
  height: 100vh;

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: rem(22);

    .logo {
      width: rem(30);
    }

    .menu-aberto {
      width: 60%;
      height: 100vh;
      background: rgba(0, 0, 0, .9);
      position: absolute;
      top: 0;
      left: 0;
    }

    .icon_close-menu {
      height: rem(24);
      width: rem(24);
      margin: rem(25) rem(20) rem(20) auto;
    }
  }

}