@use '../util' as *;

#btn-mobile {
	cursor: pointer;
  display: block;
  right: 0;
  position: relative;
  z-index: 1001;
  color: var(--v-dark-grey);
  bottom: 11px;
  // @include breakpoint-down(small) {
  //   display: block;
  // };
}
